<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

    <insert id="orderDone" parameterType="OrderDTO" >
        insert into orderInfo (num,userid,gCode,gName,gPrice,gSize,gColor,gAmount,
                               gImage,orderName,zip_Code,address,addr_Detail,phonenumber,payMethod)
        values(orderInfo_seq.nextval, #{userId},#{gCode},#{gName},#{gPrice},
               #{gSize},#{gColor},#{gAmount},
               #{gImage},#{orderName},#{zip_Code},#{address},#{addr_Detail},#{phonenumber},#{payMethod} )
    </insert>


    <insert id="orderAllDone" parameterType="arraylist" >

        insert all
        <foreach collection="list" item="item">
            into orderInfo (num,userid,gCode,gName,gPrice,gSize,gColor,gAmount,
            gImage,orderName,post,addr1,addr2,phone,payMethod)

            values( orderSeq()  , #{item.userId},#{item.gCode},#{item.gName},#{item.gPrice},
            #{item.gSize},#{item.gColor},#{item.gAmount},
            #{item.gImage},#{item.orderName},#{item.post},
            #{item.addr1},#{item.addr2},#{item.phone},#{item.payMethod} )
        </foreach>
        select *
        from dual
    </insert>

    <select id="orderAllConfirm" parameterType="arraylist" resultType="CartDTO">
        select num,userid,gCode,gPrice,gSize,gColor,gAmount,gName,gImage
        from cart
        where num
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="cartByNum" parameterType="string" resultType="CartListResponseDTO">
        SELECT
            c.CARTID,
            c.USERID,
            c.GCODE,
            c.GSIZE,
            c.GCOLOR,
            c.GAMOUNT,
            g.GNAME,
            g.GIMAGE,
            g.GPRICE
        FROM
            cart c
                JOIN
            goods g ON c.GCODE = g.GCODE
        WHERE
            c.USERID = #{userId}
    </select>



    <delete id="cartAllDel" parameterType="arraylist">
        delete from cart
        where num
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="cartUpdate" parameterType="map">
        update cart
        set gAmount = #{gAmount}
        where CARTID = #{cartId}
    </update>

    <delete id="cartDel" parameterType="int">
        delete
        from cart
        where CARTID = #{cartId}
    </delete>

    <insert id="cartAdd" parameterType="map" >
        insert into cart (cartid,userid,gCode,gSize,gColor,gAmount)
        values (cart_seq.nextval,#{userId},#{gCode},
                #{gSize},#{gColor},#{gAmount})
    </insert>

<!--    <select id="cartList" parameterType="string" resultType="CartDTO">
        select cartid,userid,gCode,gSize,gColor,gAmount
        from cart
        where userid = #{userid}
    </select>-->

    <select id="findDuplicateCartItem" parameterType="map" resultType="CartDTO">
        select * from cart where gCode=#{gCode} and gColor=#{gColor} and gSize=#{gSize} and userId=#{userId}
    </select>

    <update id="updateItemQuantity" parameterType="map">
        update cart
        set gAmount = gAmount+1
        where gCode=#{gCode} and gColor=#{gColor} and gSize=#{gSize} and userId=#{userId}
    </update>


</mapper>