<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">



    <select id="orderAllConfirm" parameterType="arraylist" resultType="CartDTO">
        select num,USERNAME,gCode,gPrice,gSize,gColor,gAmount,gName,gImage
        from cart
        where num
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByUsername" parameterType="string" resultType="CartListResponseDTO">
        SELECT
            c.CARTID as CARTID,
            c.USERNAME as USERNAME,
            c.GCODE as GCODE,
            c.GSIZE as GSIZE,
            c.GCOLOR as GCOLOR,
            c.GAMOUNT as GAMOUNT,
            g.GNAME as GNAME,
            g.GIMAGE as GIMAGE,
            g.GPRICE as GPRICE
        FROM
            cart c
                JOIN
            goods g ON c.GCODE = g.GCODE
        WHERE
            c.USERNAME = #{username}
    </select>


    <select id="findByCartId" parameterType="string" resultType="CartListResponseDTO">
        SELECT
            c.CARTID as CARTID,
            c.USERNAME as USERNAME,
            c.GCODE as GCODE,
            c.GSIZE as GSIZE,
            c.GCOLOR as GCOLOR,
            c.GAMOUNT as GAMOUNT,
            g.GNAME as GNAME,
            g.GIMAGE as GIMAGE,
            g.GPRICE as GPRICE
        FROM
            cart c
                JOIN
            goods g ON c.GCODE = g.GCODE
        WHERE
            c.CARTID = #{cartId}
    </select>



    <delete id="deleteAll" parameterType="arraylist">
        delete from cart
        where num
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="map">
        update cart
        set gAmount = #{gAmount}
        where CARTID = #{cartId}
    </update>

    <delete id="delete" parameterType="int">
        delete
        from cart
        where CARTID = #{cartId}
    </delete>

    <insert id="create" parameterType="map" >
        insert into cart (cartid,USERNAME,gCode,gSize,gColor,gAmount)
        values (cart_seq.nextval,#{userId},#{gCode},
                #{gSize},#{gColor},#{gAmount})
    </insert>

<!--    <select id="cartList" parameterType="string" resultType="CartDTO">
        select cartid,userid,gCode,gSize,gColor,gAmount
        from cart
        where userid = #{userid}
    </select>-->

    <select id="findDuplicateCartItem" parameterType="map" resultType="CartDTO">
        SELECT *
        FROM cart
        WHERE USERNAME = #{userId}
          AND GCODE = #{gCode}
          AND GSIZE = #{gSize}
          AND GCOLOR = #{gColor}
          AND GAMOUNT = #{gAmount}
    </select>

    <update id="updateItemQuantity" parameterType="map">
        update cart
        set gAmount = gAmount+1
        where gCode=#{gCode} and gColor=#{gColor} and gSize=#{gSize} and USERNAME=#{userId}
    </update>

</mapper>