<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">

     <select id="findByCode" parameterType="string" resultType="GoodsDTO">
       select gCode,gCategory,gName,gContent,gPrice,gImage
       from goods
       where gCode = #{gCode}
	</select>

	<select id="findByCategory" parameterType="string" resultType="GoodsDTO">
       select gCode,gCategory,gName,gContent,gPrice,gImage
       from goods
       where gCategory = #{gCategory}
	</select>

    <insert id="create" parameterType="GoodsCreateRequestDTO">
        insert into GOODS (GCODE,GCATEGORY,GNAME,GCONTENT,GPRICE,GIMAGE)
        values (#{code},#{category},#{name},#{content},#{price},'image')
    </insert>

    <delete id="delete" parameterType="String">
        delete from GOODS where GCODE = #{gCode}
    </delete>

   <update id="update" parameterType="GoodsUpdateRequestDTO">
        update GOODS set GCATEGORY = #{category}, GNAME = #{name}, GCONTENT = #{content}, GPRICE = #{price}, GIMAGE = #{image} where GCODE = #{code}
   </update>

</mapper>