<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InquiryMapper">

   <insert id="submitInquiry" parameterType="inquiryDTO">
insert into CUSTOMER_INQUIRIES (INQUIRY_ID,MEMBERID,INQUIRY_TYPE,INQUIRY_TITLE,INQUIRY_CONTENT,INQUIRY_DATE,STATUS)
values (SUJUNG.CUSTOMER_INQUIRIES_SEQ.nextval, #{memberId},#{inquiryType},#{inquiryTitle},#{inquiryContent},#{inquiryData}, #{status})
   </insert>

</mapper>