<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

    <select id="idSearch" resultType="string"
            parameterType="MemberDTO">
        select USERNAME
        from member
        where username=#{username} and phoneNumber=#{phoneNumber}
    </select>

    <insert id="create" parameterType="MemberDTO">
        insert into member (memberid,USERNAME,password,REALNAME,zip_Code,address,addr_Detail,
                            phoneNumber,email, ROLE,STATUS)
        values(SUJUNG.MEMBERID_SEQ.nextval, #{username},#{password},#{username},#{zip_Code},#{address},#{addr_Detail},
               #{phoneNumber},#{email},'ROLE_User','Active')
    </insert>

    <update id="update" parameterType="MemberUpdateRequestDTO">
        update member
        set PASSWORD = #{newPassword},
            zip_Code = #{zip_Code},
            address = #{address},
            addr_Detail = #{addr_Detail}
        where MEMBERID = #{memberId}
    </update>

    <select id="findByUsername" parameterType="String" resultType="MemberDTO">
        select * from member where USERNAME = #{userId}
    </select>

    <update id="setPrimaryAddress" parameterType="DeliveryAddressesDTO">
        update member
        set address = #{address},
            addr_Detail = #{addr_Detail},
            zip_Code = #{zip_Code},
            phoneNumber = #{phoneNumber}
        where MEMBERID = #{memberId}
    </update>

    <select id="findByMemberId" parameterType="Long" resultType="MemberDTO">
        select * from member where MEMBERID = #{memberId}
    </select>

    <update id="activateMemberById" parameterType="Long">
        UPDATE SUJUNG.MEMBER
        SET STATUS = 'active'
        WHERE MEMBERID = #{memberId}
    </update>

</mapper>