<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">


    <select id="idSearch" resultType="string"
            parameterType="MemberDTO">
        select userid
        from member
        where username=#{username} and phoneNumber=#{phoneNumber}
    </select>



    <insert id="memberAdd" parameterType="MemberDTO">
        insert into member (memberid,userid,password,username,zip_Code,address,addr_Detail,
                            phoneNumber,email, ROLE,STATUS)
        values(SUJUNG.MEMBERID_SEQ.nextval, #{userid},#{password},#{username},#{zip_Code},#{address},#{addr_Detail},
               #{phoneNumber},#{email},'ROLE_User','Active')
    </insert>

<!--    <select id="idCheck" parameterType="string"-->
<!--            resultType="int">-->
<!--        select count(*)-->
<!--        from member-->
<!--        where userid = #{userid}-->
<!--    </select>-->

    <update id="memberUpdate" parameterType="MemberDTO">
        update member
        set zip_Code = #{zip_Code},
            address = #{address},
            addr_Detail = #{addr_Detail},
            phoneNumber = #{phoneNumber},
            email = #{email}
            where userid = #{userid}
    </update>
    <select id="login" parameterType="hashmap" resultType="MemberDTO">
        select MEMBERID,userid,password,username,zip_Code,address,addr_Detail,
               phoneNumber,email
        from member
        where userid = #{userid} and PASSWORD = #{password}
    </select>

    <select id="myPage" parameterType="string" resultType="MemberDTO">
        select userid,password,username,zip_Code,address,addr_Detail,
               phoneNumber,email
        from member
        where userid = #{userid}
    </select>




</mapper>