<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
 
 
     <select id="idSearch" resultType="string" 
    parameterType="MemberDTO">
         select userid
         from member
         where username=#{username} and phone1=#{phone1} and phone2=#{phone2} and phone3=#{phone3}
    </select>
    
   <update id="memberUpdate" parameterType="MemberDTO">
     update member
     set post = #{post},
     addr1 = #{addr1},
     addr2 = #{addr2},
     phone1 = #{phone1},
     phone2 = #{phone2},
     phone3 = #{phone3},
     email1 = #{email1},
     email2 = #{email2}
    where userid = #{userid}
   </update>


   <insert id="memberAdd" parameterType="MemberDTO">
     insert into member (userid,passwd,username,post,addr1,addr2,
                         phone1,phone2,phone3,email1,email2)
     values( #{userid},#{passwd},#{username},#{post},#{addr1},#{addr2},
              #{phone1},#{phone2},#{phone3},#{email1},#{email2})
   </insert>
   
   <select id="idCheck" parameterType="string"
	            resultType="int">
     select count(*)
     from member
     where userid = #{userid}
	</select>
	
	<select id="login" parameterType="hashmap" resultType="MemberDTO">
	  select userid,passwd,username,post,addr1,addr2,
                         phone1,phone2,phone3,email1,email2
      from member
      where userid = #{userid} and passwd = #{passwd}
	</select>
	
	<select id="myPage" parameterType="string" resultType="MemberDTO">
	  select userid,passwd,username,post,addr1,addr2,
                         phone1,phone2,phone3,email1,email2
      from member
      where userid = #{userid}
	</select>
	
	
	
	
</mapper>