<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

    <insert id="create" parameterType="OrderCreateRequestDTO">
    <selectKey keyProperty="orderId" resultType="long" order="BEFORE">
        SELECT SEQ_ORDERS.nextval AS orderId FROM DUAL
    </selectKey>
        INSERT INTO ORDERS
        (ORDERID, MEMBERID, RECEIVERNAME, RECEIVERADDRESS, RECEIVERCONTACT, DELIVERYNOTE)
        values
            (#{orderId}, #{memberId}, #{receiverName}, #{receiverAddress}, #{receiverContact}, #{deliveryNote})
    </insert>


    <select id="findAllByMemberId" parameterType="Long" resultType="OrderDTO">
        select * from ORDERS where MEMBERID = #{memberId}
    </select>

    <select id="findById" parameterType="Long" resultType="OrderDTO">
        select * from ORDERS where ORDERID = #{orderId}
    </select>

</mapper>