<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

    <insert id="create" parameterType="OrderCreateRequestDTO">
        <selectKey keyProperty="orderId" resultType="long" order="BEFORE">
            SELECT SEQ_ORDERS.nextval AS orderId FROM DUAL
        </selectKey>
        INSERT INTO ORDERS
        (ORDERID, MEMBERID, RECEIVERNAME, RECEIVERADDRESS, RECEIVERCONTACT, DELIVERYNOTE)
        values
        (#{orderId}, #{memberId}, #{receiverName}, #{receiverAddress}, #{receiverContact}, #{deliveryNote})
    </insert>

    <select id="findAllByMemberId" parameterType="Long" resultType="OrderDTO">
        select *
        from ORDERS
        where MEMBERID = #{memberId}
    </select>

    <select id="findById" parameterType="Long" resultType="OrderDTO">
        select *
        from ORDERS
        where ORDERID = #{orderId}
    </select>

    <select id="selectSalesPast30Days" resultType="ChartDateDTO">
        SELECT TO_CHAR(PAYMENTDATE, 'YYYY-MM-DD') as dateString, SUM(AMOUNT) AS totalSales
        FROM PAYMENTS
        WHERE PAYMENTDATE >= TRUNC(SYSDATE) - 30
        GROUP BY PAYMENTDATE
        ORDER BY PAYMENTDATE
    </select>

    <select id="selectMonthlySalesPastYear" resultType="ChartDateDTO">
        SELECT TO_CHAR(PAYMENTDATE, 'YYYY-MM') AS dateString, SUM(AMOUNT) AS totalSales
        FROM PAYMENTS
        WHERE PAYMENTDATE >= ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -12)
        GROUP BY TO_CHAR(PAYMENTDATE, 'YYYY-MM')
        ORDER BY dateString
    </select>

    <select id="selectYearlySalesPastThreeYears" resultType="ChartDateDTO">
        SELECT TO_CHAR(PAYMENTDATE, 'YYYY') AS dateString, SUM(AMOUNT) AS totalSales
        FROM PAYMENTS
        WHERE PAYMENTDATE >= ADD_MONTHS(TRUNC(SYSDATE, 'YYYY'), -36)
        GROUP BY TO_CHAR(PAYMENTDATE, 'YYYY')
        ORDER BY dateString
    </select>


</mapper>