<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersMapper">

   <insert id="create" parameterType="OrdersCreateRequestDTO">
       insert into ORDERS (ORDERID, MEMBERID, RECEIVERNAME, RECEIVERADDRESS, RECEIVERCONTACT, DELIVERYNOTE, PAYMENTID)
       values (SEQ_ORDERS.nextval, #{memberId}, #{receiverName}, #{receiverAddress}, #{receiverContact}, #{deliveryNote}, #{paymentId})
   </insert>

    <select id="findAllByMemberId" parameterType="Long" resultType="OrdersDTO">
        select * from ORDERS where MEMBERID = #{memberId}
    </select>
</mapper>