<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

    <insert id="create" parameterType="OrderDTO" >
        insert into order_info (ORDER_ID,USERNAME,GCODE,GSIZE,GCOLOR,GAMOUNT,
                                ORDERNAME,ZIP_CODE,ADDRESS,ADDR_DETAIL,PHONENUMBER,PAYMETHOD,ORDERDAY,TOTALPRICE)
        values(orderInfo_seq.nextval, #{username},#{gCode},
               #{gSize},#{gColor},#{gAmount},
               #{orderName},#{zip_Code},#{address},#{addr_Detail},#{phoneNumber},#{payMethod}, #{orderDay}, #{totalPrice})
    </insert>


    <insert id="orderAllDone" parameterType="arraylist" >

        insert all
        <foreach collection="list" item="item">
            into ORDER_INFO (order_Id,USERNAME,gCode,gSize,gColor,gAmount,
            orderName,ZIP_CODE,ADDRESS,ADDR_DETAIL,PHONENUMBER,payMethod)

            values( orderSeq()  , #{item.username},#{item.gCode},
            #{item.gSize},#{item.gColor},#{item.gAmount},
            #{item.orderName},#{item.post},
            #{item.addr1},#{item.addr2},#{item.phone},#{item.payMethod} )
        </foreach>
        select *
        from dual
    </insert>



</mapper>