<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductInquiryMapper">

    <insert id="create" parameterType="ProductInquiryDTO">
        insert into PRODUCT_INQUIRY (INQUIRY_ID, MEMBERID, GCODE, INQUIRY_CONTENT, INQUIRY_DATE, STATUS)
        values (SUJUNG.PRODUCTINQUIRY_SEQ.nextval, #{memberId}, #{gCode}, #{inquiry_Content}, #{inquiry_Date},
                #{status})
    </insert>

    <select id="findAllByMemberId" parameterType="Long" resultType="ProductInquiryDTO">
        select *
        from PRODUCT_INQUIRY
        where MEMBERID = #{memberId}
    </select>

    <select id="findAllByGCode" parameterType="String" resultType="ProductInquiryDTO">
        select *
        from PRODUCT_INQUIRY
        where gCode = #{gCode}
    </select>

    <update id="update" parameterType="ProductInquiryUpdateRequestDTO">
        update PRODUCT_INQUIRY set INQUIRY_CONTENT = #{inquiry_Content} where INQUIRY_ID = #{inquiry_Id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from PRODUCT_INQUIRY where INQUIRY_ID=#{inquiry_Id}
    </delete>

    <select id="findById" parameterType="Long" resultType="ProductInquiryDTO">
        select * from PRODUCT_INQUIRY where INQUIRY_ID=#{inquiry_Id}
    </select>

</mapper>