<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductInquiryAPIController">

<insert id="create" parameterType="ProductInquiryDTO">
insert into PRODUCTINQUIRY (INQUIRYID,MEMBERID,GCODE,INQUIRYCONTENT,INQUIRYDATE,STATUS)
values (SUJUNG.PRODUCTINQUIRY_SEQ.nextval,#{memberId},#{gCode},#{inquiry_Content},#{inquiry_Date}, #{status})
</insert>

</mapper>