<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductInquiryMapper">

    <insert id="create" parameterType="ProductInquiryDTO">
        insert into PRODUCTINQUIRY (INQUIRYID, MEMBERID, GCODE, INQUIRYCONTENT, INQUIRYDATE, STATUS)
        values (SUJUNG.PRODUCTINQUIRY_SEQ.nextval, #{memberId}, #{gCode}, #{inquiry_Content}, #{inquiry_Date},
                #{status})
    </insert>

    <select id="findAllByMemberId" parameterType="Long" resultType="ProductInquiryDTO">
        select *
        from PRODUCTINQUIRY
        where MEMBERID = #{memberId}
    </select>

    <update id="update" parameterType="ProductInquiryUpdateRequestDTO">
        update PRODUCTINQUIRY set INQUIRYCONTENT = #{inquiry_Content} where INQUIRYID = #{inquiry_Id}
    </update>

    <delete id="deleteProductInquiry" parameterType="Long">
        delete from PRODUCTINQUIRY where INQUIRYID=#{inquiry_Id}
    </delete>

    <select id="findById" parameterType="Long">
        select * from PRODUCTINQUIRY where INQUIRYID=#{inquiry_Id}
    </select>

</mapper>