<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDTO">

<insert id="create" parameterType="ReviewCreateRequestDTO">
insert into REVIEWS (REVIEW_ID,GCODE,MEMBERID,REVIEW_TEXT,RATING,CREATED_AT)
values (SUJUNG.REVIEWS_SEQ.nextval, #{gCode},#{memberId},#{review_Text},#{rating},#{createdAt})
</insert>

    <select id="findByReviewId" parameterType="ReviewDTO">
        select * from REVIEWS where REVIEW_ID = #{review_Id}
    </select>

    <select id="findAllByGCode" parameterType="String" resultType="ReviewDTO">
        select * from REVIEWS where GCODE = #{gCode}
    </select>
</mapper>