<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WishListMapper">

    <insert id="insertWishlistItem" parameterType="map">
        insert into wishList (wishlistid, memberId, gCode)
        values (SUJUNG.WISHLISTID_SEQ.nextval, #{memberId}, #{gCode})
    </insert>

    <select id="checkWishlistItemExists" parameterType="map" resultType="MemberDTO">
        select * from wishList where memberid=#{memberId} and gCode=#{gCode}
    </select>

    <delete id="deleteWishlistItem" parameterType="map">
        delete from wishList where memberid=#{memberId} and gCode=#{gCode}
    </delete>




</mapper>