<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WishListMapper">

    <insert id="insertWishlistItem" parameterType="map">
        insert into wishList (wishlistId, memberId, gCode)
        values (SUJUNG.WISHLISTID_SEQ.nextval, #{memberId}, #{gCode})
    </insert>

    <select id="checkWishlistItemExists" parameterType="map" resultType="MemberDTO">
        select * from wishList where memberid=#{memberId} and gCode=#{gCode}
    </select>

    <delete id="deleteWishlistItem" parameterType="map">
        delete from wishList where memberid=#{memberId} and WISHLISTID=#{wishListId}
    </delete>

    <select id="findWishListByMemberId" parameterType="Long" resultType="WishListDTO">
        SELECT
            W.WISHLISTID as wishListId,
            W.GCODE as gcode,
            G.GNAME as gname,
            G.GIMAGE as gimage,
            G.GPRICE as gprice
        FROM WISHLIST W
                 INNER JOIN GOODS G ON W.GCODE = G.GCODE
        WHERE W.MEMBERID = #{memberId}
    </select>







</mapper>